In [1]:
import pandas as pd
import numpy as np
import altair as alt
import matplotlib as plt

alt.renderers.enable('png')

RendererRegistry.enable('png')

In [2]:
alt.__version__

print(alt.renderers)

RendererRegistry(active='png', registered=['altair_viewer', 'colab', 'default', 'html', 'json', 'jupyterlab', 'kaggle', 'mimetype', 'nteract', 'png', 'svg', 'zeppelin'])

In [3]:
df = pd.read_csv('/Users/ananyatiwari/Desktop/India Agriculture Crop Production.csv')

In [4]:
df.to_csv('Agricultural production since 1997 in India') ## To

After discussing the other datasets with you during office hours, I realized that I should try to find data from more legitimate sources. Unfortunately, I was unsuccessful in reaching the US Foreign Agricultural Service for data. However, I found a great Indian government data website where I was able to find a great dataset which was similar to what I found on Kaggle. 

This dataset is available here: https://aps.dac.gov.in/APY/Public_Report1.aspx

I had to go on the Ministry of Agriculture and Farmers Welfare website and in particular, here: https://aps.dac.gov.in/Home.aspx?ReturnUrl=%2f where I chose APY. This led me to this page -https://aps.dac.gov.in/APY/Index.htm where I chose District wise crop production statistics. And then I could generate my report from these selections - https://aps.dac.gov.in/APY/Public_Report1.aspx . I chose to check all the boxes in every field. 

It was downloaded as an Excel file.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344208 entries, 0 to 344207
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        344208 non-null  int64
 1   State             344208 non-null  object
 2   District          344208 non-null  object
 3   Crop              344099 non-null  object
 4   Year              344208 non-null  object
 5   Season            344208 non-null  object
 6   Area              344099 non-null  float64
 7   Area Units        344208 non-null  object
 8   Production        339187 non-null  float64
 9   Production Units  344208 non-null  object
 10  Yield             344099 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 28.9+ MB

In [6]:
del df['Unnamed: 0']

In [7]:
df.head(10)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-04,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2002-03,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2003-04,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2002-03,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-04,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

This dataset has detailed information on the various districts in each state and union territory, and the crop production for various seasons. Rabi is the winter season, and kharif is the summer season. Rabi crops are sown in the winter around November, and harvested in the spring. Kharif crops are sown in the summer around May and harvested in autumn in around October/November. For my purposes, I will choose to stick to these two seasons as they are the main cropping seasons. 

Since I am interested in how the crop production of various yields has progressed over time, I will choose specific states-districts for my analysis. This is because in India certain areas are more vulnerable to climatic stresses or unpredictable weather than other places. I am still doing my research on which areas are more prone to such changes. But, I will use this dataset to see if there are some irregular patterns in certain crops/fruits too. It will be a repetitive process of selecting various kinds of datasets and creating line charts to see the trends over the decades from 1997-2020.

I noticed that the year column is formatted in YYYY-YY and I wish to make it simpler, into a YYYY format. This will help later in the data vizualizations. I will convert the column to string dtype, and strip it.

In [8]:
df["Year"]=df["Year"].astype('string')
print(df.dtypes)

State                object
District             object
Crop                 object
Year                 string
Season               object
Area                float64
Area Units           object
Production          float64
Production Units     object
Yield               float64
dtype: object

In [9]:

df['Year'] = df['Year'].str[:4]
df.head(10)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2002,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2003,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2002,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [10]:
df["Year"]=df["Year"].astype('int')
print(df.dtypes)

State                object
District             object
Crop                 object
Year                  int64
Season               object
Area                float64
Area Units           object
Production          float64
Production Units     object
Yield               float64
dtype: object

In [11]:
df.head(5)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296

In [12]:
df.Crop.unique()

array(['Arecanut', 'Banana', 'Black pepper', 'Cashewnut', 'Coconut',
       'Dry chillies', 'Ginger', 'Other Kharif pulses', 'other oilseeds',
       'Rice', 'Sugarcane', 'Sweet potato', 'Arhar/Tur', 'Bajra',
       'Castor seed', 'Coriander', 'Cotton(lint)', 'Gram', 'Groundnut',
       'Horse-gram', 'Jowar', 'Linseed', 'Maize', 'Mesta',
       'Moong(Green Gram)', 'Niger seed', 'Onion', 'Other Rabi pulses',
       'Potato', 'Ragi', 'Rapeseed &Mustard', 'Safflower', 'Sesamum',
       'Small millets', 'Soyabean', 'Sunflower', 'Tapioca', 'Tobacco',
       'Turmeric', 'Urad', 'Wheat', 'Oilseeds total', 'Jute', 'Masoor',
       'Peas & beans (Pulses)', 'Barley', 'Garlic', 'Khesari', 'Sannhamp',
       'Guar seed', 'Moth', 'Cardamom', 'Other Cereals', 'Cowpea(Lobia)',
       'Dry Ginger', 'Other Summer Pulses', nan], dtype=object)

Right now, I am exploring the dataset so that I can see which crops, states, districts, etc, are in it. Above, is a list of the crops whose production values across different states is being calculated.

In [13]:
df.Season.unique()

array(['Kharif', 'Whole Year', 'Rabi', 'Autumn', 'Summer', 'Winter'],
      dtype=object)

Here I am seeing six seasons, and I know that many of them overlap with each other. Kharif season runs from May-September/October, and the Rabi season begins from November to April/May. These two seasons tend to incorporate the Summer and Winter seasons. I will use these two seasons for my analysis.

When it comes to the states, I would need to know which ones since I want to explore this dataset state-wise, and not crop-wise, for more precise patterns.

In [14]:
df.State.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'Telangana'], dtype=object)

Each state has its districts, which are usually but not always, predominated by one or two crop types. For example, West Bengal is known for being a major cultivator of rice. However, rice is grown all over India also, such as in the states of Punjab, and others.In my exploration of this dataset (which I discussed with you during office hours) I had already found a few crops showing an alarming rate of decline, and I was later able to find news sources to help me figure out why this might be the case. Production of some crops have increased, though, and these variations are very crop and region specific. I will explore an interesting case of Punjab, and for this, I will subset data from the state, particularly its rice production.

## Production for all states, all crops, by year

In [15]:
production_all = df.groupby(['State', 'Crop', 'Year', 'Season']).sum()[['Production']].reset_index()
production_all

/var/folders/5m/nykgw7dn67q73dqxfgtdnfhm0000gn/T/ipykernel_82711/201649395.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  production_all = df.groupby(['State', 'Crop', 'Year', 'Season']).sum()[['Production']].reset_index()

                             State      Crop  Year      Season  Production
0      Andaman and Nicobar Islands  Arecanut  2000      Kharif     7200.00
1      Andaman and Nicobar Islands  Arecanut  2001      Kharif     7300.00
2      Andaman and Nicobar Islands  Arecanut  2002  Whole Year     7350.00
3      Andaman and Nicobar Islands  Arecanut  2003  Whole Year     6707.00
4      Andaman and Nicobar Islands  Arecanut  2004  Whole Year     4781.05
...                            ...       ...   ...         ...         ...
21383                  West Bengal     Wheat  2015        Rabi   788503.00
21384                  West Bengal     Wheat  2016        Rabi   862712.00
21385                  West Bengal     Wheat  2017        Rabi   362744.00
21386                  West Bengal     Wheat  2018        Rabi   337751.00
21387                  West Bengal     Wheat  2019        Rabi   509970.00

[21388 rows x 5 columns]

In [16]:
# subset for Punjab and Rice
production_all[
    (production_all['State'] == 'Punjab') &
    (production_all['Crop'] == 'Rice') 
].reset_index()

    index   State  Crop  Year  Season  Production
0   15849  Punjab  Rice  1997  Kharif   7904000.0
1   15850  Punjab  Rice  1998  Kharif   7940000.0
2   15851  Punjab  Rice  1999  Kharif   8716000.0
3   15852  Punjab  Rice  2000  Kharif   9154000.0
4   15853  Punjab  Rice  2001  Kharif   8816000.0
5   15854  Punjab  Rice  2002  Kharif   8880000.0
6   15855  Punjab  Rice  2003  Kharif   9656000.0
7   15856  Punjab  Rice  2004  Kharif  10437000.0
8   15857  Punjab  Rice  2005  Kharif  10193000.0
9   15858  Punjab  Rice  2006  Kharif  10138000.0
10  15859  Punjab  Rice  2007  Kharif  10489000.0
11  15860  Punjab  Rice  2008  Kharif  11000000.0
12  15861  Punjab  Rice  2009  Kharif  11236000.0
13  15862  Punjab  Rice  2010  Kharif  10837000.0
14  15863  Punjab  Rice  2011  Kharif  10542000.0
15  15864  Punjab  Rice  2012  Kharif  11390000.0
16  15865  Punjab  Rice  2013  Kharif  11267000.0
17  15866  Punjab  Rice  2014  Kharif  11107000.0
18  15867  Punjab  Rice  2015  Kharif  11823000.0
19  15868  Punjab  Rice  2016  Kharif  12638000.0
20  15869  Punjab  Rice  2017  Kharif  13382000.0
21  15870  Punjab  Rice  2018  Kharif  12822000.0
22  15871  Punjab  Rice  2019  Kharif  12675000.0

## Crop production in Punjab

HYPOTHESIS: One interesting case study of sorts is Punjab, where rice yeilds have declined over time, due to various reasons. [In this article](https://drive.google.com/file/d/1WW44UyHMZjKfRrE0lnKlMPbwW_CWhI3-/view?usp=share_link), Punjab's ground-water level has been declining sharply ever since rice cultivation was introduced into the state. Rice is a water-intensive crop. The government there is pushing the farmers to diversify the crops growns to reduce rice cultivation to help with this issue. This could be a good reason why over time rice cultivation in the area is declining. This policy is also a few years old only.

In [17]:
df_pj  =  df[(df['State'] == 'Punjab')].reset_index(drop=True)
df_pj

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Punjab,AMRITSAR,Arhar/Tur,2001,Kharif,1400.0,Hectare,1100.0,Tonnes,0.785714
1,Punjab,AMRITSAR,Arhar/Tur,2002,Kharif,1200.0,Hectare,1000.0,Tonnes,0.833333
2,Punjab,AMRITSAR,Arhar/Tur,2003,Kharif,1500.0,Hectare,1400.0,Tonnes,0.933333
3,Punjab,BATHINDA,Arhar/Tur,2003,Kharif,100.0,Hectare,100.0,Tonnes,1.000000
4,Punjab,FARIDKOT,Arhar/Tur,2001,Kharif,100.0,Hectare,100.0,Tonnes,1.000000
...,...,...,...,...,...,...,...,...,...,...
4137,Punjab,RUPNAGAR,Wheat,2000,Rabi,86000.0,Hectare,312000.0,Tonnes,3.627907
4138,Punjab,SANGRUR,Wheat,1997,Rabi,401000.0,Hectare,1732000.0,Tonnes,4.319202
4139,Punjab,SANGRUR,Wheat,1998,Rabi,86000.0,Hectare,325000.0,Tonnes,3.779070
4140,Punjab,SANGRUR,Wheat,1999,Rabi,394000.0,Hectare,1902000.0,Tonnes,4.827411
4141,Punjab,SANGRUR,Wheat,2000,Rabi,393000.0,Hectare,1921000.0,Tonnes,4.888041

In [18]:
##Calculating the total production of various crops in Punjab since 1997, in tonnes. 
punjab_crop_pro = df_pj.groupby(['Crop']).sum()[['Production']].reset_index()
punjab_crop_pro

/var/folders/5m/nykgw7dn67q73dqxfgtdnfhm0000gn/T/ipykernel_82711/467603020.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  punjab_crop_pro = df_pj.groupby(['Crop']).sum()[['Production']].reset_index()

                     Crop   Production
0               Arhar/Tur     118120.0
1                   Bajra      78100.0
2                  Barley    1393000.0
3            Cotton(lint)   34634200.0
4                    Gram      97300.0
5               Groundnut      76500.0
6               Guar seed     369740.0
7                   Jowar        400.0
8                 Linseed       1700.0
9                   Maize   10150400.0
10                 Masoor      30979.0
11      Moong(Green Gram)     279490.0
12                   Moth       1800.0
13      Other Rabi pulses       6300.0
14  Peas & beans (Pulses)      48620.0
15      Rapeseed &Mustard    1012100.0
16                   Rice  243042000.0
17                Sesamum      71410.0
18              Sugarcane  125639000.0
19              Sunflower      96600.0
20                   Urad      30350.0
21                  Wheat  364370000.0
22         other oilseeds       3300.0

In [19]:
##Sorting to see which crops were produced more in Punjab since 1997
punjab_crop_pro.sort_values(by=['Production'])

                     Crop   Production
7                   Jowar        400.0
8                 Linseed       1700.0
12                   Moth       1800.0
22         other oilseeds       3300.0
13      Other Rabi pulses       6300.0
20                   Urad      30350.0
10                 Masoor      30979.0
14  Peas & beans (Pulses)      48620.0
17                Sesamum      71410.0
5               Groundnut      76500.0
1                   Bajra      78100.0
19              Sunflower      96600.0
4                    Gram      97300.0
0               Arhar/Tur     118120.0
11      Moong(Green Gram)     279490.0
6               Guar seed     369740.0
15      Rapeseed &Mustard    1012100.0
2                  Barley    1393000.0
9                   Maize   10150400.0
3            Cotton(lint)   34634200.0
18              Sugarcane  125639000.0
16                   Rice  243042000.0
21                  Wheat  364370000.0

Wheat, rice, sugarcane, cotton and maize are the most cultivated crops in Punjab, with the least five being jowar, linseed, moth, other oilseeds and other rabi pulses.

In [20]:
##Creating a pie chart using matplotlib to vizualize the following crop distribution over the decades in Punjab.

In [21]:
##Exporting this data to a CSV. 
punjab_crop_pro.to_csv('Crop production over years.csv')

In [22]:
punjab_crop_pro.astype({'Production': 'int'}).dtypes

Crop          object
Production     int64
dtype: object

In [23]:
##Converting the columns to lists.
crops_name = punjab_crop_pro.Crop.to_list()
crops_name

['Arhar/Tur',
 'Bajra',
 'Barley',
 'Cotton(lint)',
 'Gram',
 'Groundnut',
 'Guar seed',
 'Jowar',
 'Linseed',
 'Maize',
 'Masoor',
 'Moong(Green Gram)',
 'Moth',
 'Other Rabi pulses',
 'Peas & beans (Pulses)',
 'Rapeseed &Mustard',
 'Rice',
 'Sesamum',
 'Sugarcane',
 'Sunflower',
 'Urad',
 'Wheat',
 'other oilseeds']

In [24]:
crops_production_total = punjab_crop_pro.Production.to_list()
crops_production_total

[118120.0,
 78100.0,
 1393000.0,
 34634200.0,
 97300.0,
 76500.0,
 369740.0,
 400.0,
 1700.0,
 10150400.0,
 30979.0,
 279490.0,
 1800.0,
 6300.0,
 48620.0,
 1012100.0,
 243042000.0,
 71410.0,
 125639000.0,
 96600.0,
 30350.0,
 364370000.0,
 3300.0]

In [25]:
 
for element in crops_production_total:
    print (type(element))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [26]:
##Using list comprehension to convert the list to int
crops_production_total = [int(x) for x in crops_production_total]
for element in crops_production_total:
    print (type(element))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [27]:
##Converting this list to an array using numpy
crops_prod_array = np.array(crops_production_total)
crops_prod_array

array([   118120,     78100,   1393000,  34634200,     97300,     76500,
          369740,       400,      1700,  10150400,     30979,    279490,
            1800,      6300,     48620,   1012100, 243042000,     71410,
       125639000,     96600,     30350, 364370000,      3300])

In [28]:
##Finding the sum of the array
sumproduction = np.sum(crops_prod_array)
print(sumproduction)

781551409

In [29]:
## Finding length of array
length = len(crops_prod_array)
print(length)

23

In [30]:
## Defining a function to calculate each crop percentage of total crop production over the years 
percentlist = []
def percentile(x):
    for i in x, range (0, 22):
        croppercent = (i/sumproduction) * 100
        percentlist.extend(croppercent)

percentile(crops_production_total)

In [31]:
print(percentlist)

[0.015113529147255366, 0.00999294468676468, 0.17823523621847887, 4.431467924076124, 0.012449596901692745, 0.009788223668854009, 0.047308468226432435, 5.1180254477668025e-05, 0.00021751608153008909, 1.2987501376253037, 0.003963782758659194, 0.035760923309908585, 0.00023031114514950607, 0.0008060890080232712, 0.006220959931760547, 0.12949883889211952, 31.09737852190348, 0.009136954930625683, 16.075589980799332, 0.012360031456356828, 0.003883301808493061, 46.62137331006974, 0.0004222370994407612, 0.0, 1.2795063619417006e-07, 2.559012723883401e-07, 3.8385190858251014e-07, 5.118025447766802e-07, 6.397531809708502e-07, 7.677038171650203e-07, 8.956544533591903e-07, 1.0236050895533604e-06, 1.1515557257475304e-06, 1.2795063619417004e-06, 1.4074569981358706e-06, 1.5354076343300406e-06, 1.6633582705242108e-06, 1.7913089067183805e-06, 1.919259542912551e-06, 2.047210179106721e-06, 2.175160815300891e-06, 2.303111451495061e-06, 2.4310620876892313e-06, 2.559012723883401e-06, 2.686963360077571e-06]

In [32]:
##Adding this percentage list to a new dataframe
##lists - percentlist, crops_name, crops_production_total

percentile_list_crops = pd.DataFrame(list(zip(crops_name,crops_production_total,percentlist)), columns=['Crop','Total Production', 'Percentage of total production'])

percentile_list_crops.head(10)

           Crop  Total Production  Percentage of total production
0     Arhar/Tur            118120                        0.015114
1         Bajra             78100                        0.009993
2        Barley           1393000                        0.178235
3  Cotton(lint)          34634200                        4.431468
4          Gram             97300                        0.012450
5     Groundnut             76500                        0.009788
6     Guar seed            369740                        0.047308
7         Jowar               400                        0.000051
8       Linseed              1700                        0.000218
9         Maize          10150400                        1.298750

In [33]:
##Sorting this 
percentile_list_crops.sort_values(by=['Percentage of total production'])

                     Crop  Total Production  Percentage of total production
7                   Jowar               400                        0.000051
8                 Linseed              1700                        0.000218
12                   Moth              1800                        0.000230
22         other oilseeds              3300                        0.000422
13      Other Rabi pulses              6300                        0.000806
20                   Urad             30350                        0.003883
10                 Masoor             30979                        0.003964
14  Peas & beans (Pulses)             48620                        0.006221
17                Sesamum             71410                        0.009137
5               Groundnut             76500                        0.009788
1                   Bajra             78100                        0.009993
19              Sunflower             96600                        0.012360
4                    Gram             97300                        0.012450
0               Arhar/Tur            118120                        0.015114
11      Moong(Green Gram)            279490                        0.035761
6               Guar seed            369740                        0.047308
15      Rapeseed &Mustard           1012100                        0.129499
2                  Barley           1393000                        0.178235
9                   Maize          10150400                        1.298750
3            Cotton(lint)          34634200                        4.431468
18              Sugarcane         125639000                       16.075590
16                   Rice         243042000                       31.097379
21                  Wheat         364370000                       46.621373

In [34]:
##Plotting a bar chart to represent the following information
percentilechart = alt.Chart(percentile_list_crops).mark_bar().encode(
    x='Crop',
    y='Percentage of total production'
)

percentilechart

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/altair/utils/core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

ValueError: Saving charts in 'png' format requires the altair_saver package: see http://github.com/altair-viz/altair_saver/

alt.Chart(...)

![](percent%20of%20total.png)

It is clear that compared to major crops such as wheat, rice, sugarcane and cotton, cultivation of other crops is largely miniscule. This can also be seen by the pie chart below:

In [ ]:
# ##Using matplotlib to create a pie chart to show the same distribution of percentage
# ##plt.pie(percentlist)
# plt.axis('equal')
# plt.legend(crops_name, loc = 5)
# plt.show()

Wheat, rice, sugarcane and cotton are the major crops grown in Punjab.

In [ ]:
df_pj_rice =  df[(df['State'] == 'Punjab') & (df['Crop'] == 'Rice')].reset_index(drop=True)
df_pj_rice

In [ ]:
pj_rice_prod = df_pj_rice.groupby(['Year']).sum()[['Production']].reset_index()
pj_rice_prod

In [ ]:
pj_rice_prod.plot.line(x='Year', y='Production')

In [ ]:
source =  pj_rice_prod

bars = alt.Chart(source).mark_bar().encode(
    x='Production:Q',
    y="Year:O"
)

text = bars.mark_text(
    align='left',
    baseline='middle',
    dx=3  # Nudges text to right so it doesn't appear on top of the bar
).encode(
    text='wheat:Q'
)

(bars + text).properties(height=900)

For all the data viz developed using Altair, I will be dropping in the image files into the markdown so that it can render on Github.

![](V1.png)

In [ ]:

alt.Chart(pj_rice_prod).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, Punjab from 1997-2020')

![](v2.png)

In [ ]:
df_pj_rice  = df.loc[(df['State'] == 'Punjab') & (df['Crop'] == 'Rice')] ## I am subsetting the data and only keeping that related to rice production.
df_pj_rice.head(20)

In [ ]:
df_pj_rice.District.unique() ## To find the various districts where rice is grown in Punjab. I am going to keep this aside separately for later use.

## Across districts of Punjab

Punjab has 22 districts, of which 21 are represented here clearly.

![](punjab-district-map.jpeg)

### Firozpur

In [ ]:
df_pj_fi = df_pj_rice.loc[df['District'] == 'FIROZEPUR']

alt.Chart(df_pj_fi).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, Firozpur, Punjab from 1997-2020')

![](firozpur.png)

There really has been a considerable decline of rice production in this district. This may be true for other districts also.

### Amritsar

In [ ]:
df_pj_am = df_pj_rice.loc[df['District'] == 'AMRITSAR']

alt.Chart(df_pj_am).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, Amritsar, Punjab from 1997-2020')

![](amritsar.png)

### JALANDHAR

A marked decline here as well.

In [ ]:
df_pj_ja = df_pj_rice.loc[df['District'] == 'JALANDHAR']

alt.Chart(df_pj_ja).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, Jalandhar, Punjab from 1997-2020')

![](jalandhar.png)

### SANGRUR

In [ ]:
df_pj_sa = df_pj_rice.loc[df['District'] == 'SANGRUR']

alt.Chart(df_pj_sa).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, Sangrur, Punjab from 1997-2020')

![](sangrur.png)

### FARIDKOT

In [ ]:
df_pj_far = df_pj_rice.loc[df['District'] == 'FARIDKOT']

alt.Chart(df_pj_far).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, Faridkot, Punjab from 1997-2020')

![](faridkot.png)

### LUDHIANA

In [ ]:
df_pj_lud = df_pj_rice.loc[df['District'] == 'LUDHIANA']

alt.Chart(df_pj_lud).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production in tonnes, Ludhiana, Punjab from 1997-2020')

![](ludhiana.png)

The district of Ludhiana does not fall in this trend as dramatically as the other districts. Yet, the production has fluctuated over time.

### BATHINDA

In [ ]:
df_pj_bat = df_pj_rice.loc[df['District'] == 'BATHINDA']

alt.Chart(df_pj_bat).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Bathinda, Punjab from 1997-2020')

![](bathinda.png)

Bathinda seems similar to Ludhiana.

### FATEHGARH SAHIB

In [ ]:
df_pj_fs = df_pj_rice.loc[df['District'] == 'FATEHGARH SAHIB']

alt.Chart(df_pj_fs).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Fatehgarh Sahib, Punjab from 1997-2020')

![](fatehgarh.png)

### HOSHIARPUR

In [ ]:
df_pj_hos = df_pj_rice.loc[df['District'] == 'HOSHIARPUR']

alt.Chart(df_pj_hos).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Hoshiarpur, Punjab from 1997-2020')

![](hoshiarpur.png)

### KAPURTHALA

In [ ]:
df_pj_kap = df_pj_rice.loc[df['District'] == 'KAPURTHALA']

alt.Chart(df_pj_kap).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Kapurthala, Punjab from 1997-2020')

![](kapurthala.png)

### MOGA

In [ ]:
df_pj_mog = df_pj_rice.loc[df['District'] == 'MOGA']

alt.Chart(df_pj_mog).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Moga, Punjab from 1997-2020')

![](moga.png)

### MUKTSAR

In [ ]:
df_pj_muk = df_pj_rice.loc[df['District'] == 'MUKTSAR']

alt.Chart(df_pj_muk).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Muktsar, Punjab from 1997-2020')

![](muktsar.png)

### NAWANSHAHR

In [ ]:
df_pj_naw = df_pj_rice.loc[df['District'] == 'NAWANSHAHR']

alt.Chart(df_pj_naw).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Nawanshahr, Punjab from 1997-2020')

![](nawanshahr.png)

### RUPNAGAR

In [ ]:
df_pj_rup = df_pj_rice.loc[df['District'] == 'RUPNAGAR']

alt.Chart(df_pj_rup).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Rupnagar, Punjab from 1997-2020')

![](rupnagar.png)

### GURDASPUR

In [ ]:
df_pj_gur = df_pj_rice.loc[df['District'] == 'GURDASPUR']

alt.Chart(df_pj_gur).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Gurdaspur, Punjab from 1997-2020')

![](gurdaspur.png)

### TARN TARAN

In [ ]:
df_pj_tt = df_pj_rice.loc[df['District'] == 'TARN TARAN']

alt.Chart(df_pj_tt).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Tarn Taran, Punjab from 1997-2020')

![](tarn.png)

### BARNALA

In [ ]:
df_pj_bar = df_pj_rice.loc[df['District'] == 'BARNALA']

alt.Chart(df_pj_bar).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Barnala, Punjab from 1997-2020')

![](barnala.png)

### FAZILKA

In [ ]:
df_pj_faz = df_pj_rice.loc[df['District'] == 'FAZILKA']

alt.Chart(df_pj_faz).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Fazilka, Punjab from 1997-2020')

![](fazilka.png)

### PATHANKOT

In [ ]:
df_pj_pat = df_pj_rice.loc[df['District'] == 'PATHANKOT']

alt.Chart(df_pj_pat).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in Pathankot, Punjab from 1997-2020')

![](pathankot.png)

### S

It is not known which district this represents. It is only stated as 'S'. Here are a [list of districts in Punjab](https://nriol.com/india-statistics/punjab/districts.asp). It seems like this 'S' can be either Sahibzada Ajit Singh Nagar, or Mansa. Since it begins with an 'S', I am guessing it is the former, but for now, let us leave it at S. Except for one district, every other district of Punjab has been represented by this data.

In [ ]:
df_pj_s = df_pj_rice.loc[df['District'] == 'S']

alt.Chart(df_pj_s).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rice production, in tonnes, in S, Punjab from 1997-2020')

![](s.png)

Except for the districts of Fazilka, Hoshiarpur and Bathinda, the other districts of Punjab are showing moderate to steep decline in rice production over the past 5-10 years, especially. This seems to correspond with the earlier hypothesis of the diversification of the crops in Punjab.

Now, I wish to compare the trajectories of the various crops grown in Punjab with the other crops. For this, I would need to use groupby to select the various parameters and then use Altair to create line charts.

## Comparing the production of rice in Punjab over time with other crops

In [ ]:
# subset for Punjab and Rice
rice = production_all[
    (production_all['State'] == 'Punjab') &
    (production_all['Crop'] == 'Rice') 
].reset_index()

In [ ]:
rice.head(10)

In [ ]:
rice.to_csv('Ricepunjab.csv')

In [ ]:
##Subset for Punjab and Wheat
wheat = production_all[
    (production_all['State'] == 'Punjab') &
    (production_all['Crop'] == 'Wheat') 
].reset_index()

wheat.to_csv('wheatpj.csv')

In [ ]:
wheat.head(50)

In [ ]:
##Subset for Punjab and Wheat
bajra = production_all[
    (production_all['State'] == 'Punjab') &
    (production_all['Crop'] == 'Bajra') 
].reset_index()
bajra.to_csv('bajrapj.csv')

In [ ]:
bajra.head(50)

In [ ]:
wheat_production_list = list(wheat["Production"])
print(wheat_production_list)

In [ ]:
rice_production_list = list(rice["Production"])
print(rice_production_list)

In [ ]:
bajra_production_list = list(bajra["Production"])
print(bajra_production_list)

I have already checked and seen that for all three crop csvs, the years column starts with 1997-98.

In [ ]:
years_list = list(wheat["Year"])
print(years_list)

## Finding mean values of all the three crops' production over the years

To find the mean value, I will use numpy, and convert the following lists above to numpy arrays.

In [ ]:
wheat_array = np.array(wheat_production_list, dtype = int)
print(wheat_array)

In [ ]:
rice_array = np.array(rice_production_list, dtype = int)
print(rice_array)

In [ ]:
bajra_array = np.array(bajra_production_list, dtype = int)
print(bajra_array)

Using np.mean(), I will explore this data.

#### Mean

In [ ]:
## Wheat
wheat_mean = np.mean(wheat_array)
print(wheat_mean)

In [ ]:
#Rice
rice_mean = np.mean(rice_array)
print(rice_mean)

In [ ]:
#Bajra
bajra_mean = np.mean(bajra_array)
print(bajra_mean)

Even though Punjab it is a leadeing rice-growing state, it is evident from the mean values that the production of wheat is higher. To check this, lets use np.sum() just to verify.

In [ ]:
rice_sum = np.sum(rice_array)
wheat_sum = np.sum(wheat_array)
print(rice_sum)
print(wheat_sum)

In [ ]:
difference = wheat_sum - rice_sum
print(difference)

It is clear that the tonnes of wheat produced in the state since 1997, with 121328000 more tonnes of wheat produced over rice over this time period.

### Minimum and maximum values

In [ ]:
##Minimum and maxmimum amount of rice produced since 1997

In [ ]:
rice_min = np.amin(rice_array)
print(rice_min)

In [ ]:
rice_max = np.amax(rice_array)
print(rice_max)

In [ ]:
difference_rice = rice_max - rice_min
print(difference_rice)

Rice production in Punjab fluctuates, as the difference between max and min production values is a large 5478000.

In [ ]:
(difference_rice/rice_mean)*100

This value is more than half of the value of the mean value of production.

For wheat, the same calculations:

In [ ]:
wheat_min = np.amin(wheat_array)
print(wheat_min)
wheat_max = np.amax(wheat_array)
print(wheat_max)
difference_wheat = wheat_max - wheat_min
print(difference_wheat)
(difference_wheat/wheat_mean)*100

It seems like wheat follows a similar pattern, but its production seems to fluctuate less than that of rice.

For bajra, the same calculations:

In [ ]:
bajra_min = np.amin(bajra_array)
print(bajra_min)
bajra_max = np.amax(bajra_array)
print(bajra_max)
difference_bajra = bajra_max - bajra_min
print(difference_bajra)
(difference_bajra/bajra_mean)*100

Here, it seems like the production of bajra in the state has fluctuated immensely over the years. Lets plot the production of the three crops over the same time period in one line graph, using matplotlib.

### Crop production of rice and wheat over the years

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
plt.plot(years_list, rice_array)
plt.plot(years_list, wheat_array)
plt.legend(["Rice", "Wheat"])
plt.xlabel('Years')
plt.ylabel('Production in metric tonnes')
plt.title('Rice and wheat production in Punjab over the years')
plt.show()

The production of wheat and rice in Punjab, which seems to peak between 2015-2020, has been declining over the past few years.

The rise in the past 10 years or so in the production of rice can be linked to the higher levels of stubble burning also, though not directly so. This is because [as per this article]('https://www.hindustantimes.com/india-news/why-stubble-burning-in-haryana-and-punjab-has-intensified-in-last-10-years/story-cZG40Ey3gHIZKbtS7LjpRN.html') higher levels of farm mechanizations and increase in landholdings, especially under paddy, has led to the rise of stubble burning. This has had serious consequences on the air pollution levels east of Punjab, an effect clearly seen in Delhi NCR. Even so, this year, Punjab recorded the highest levels of stubble burning, [as per this article]('https://theprint.in/agriculture/no-other-option-as-its-fields-turn-black-skies-smoky-why-punjab-wont-stop-burning-stubble/1194030/'), and the factors of increasing pollution can be said to be indirectly linked to higher levels of production of paddy crops.

## Exploring the trends of other crops in Punjab

In [ ]:
production_all.head(10)

In [ ]:
pj  = df.loc[(df['State'] == 'Punjab')].reset_index(drop=True)
pj.head(10)

In [ ]:
##production_all = df.groupby(['State', 'Crop', 'Year', 'Season']).sum()[['Production']].reset_index()

pj_production = pj.groupby(['Crop', 'Year']).sum()[['Production']].reset_index()
pj_production.head(10)

In [ ]:
pj_production.Crop.unique()

### Plotting the line graphs of crops v production over the years

In [ ]:
##Arhar/Tur
artur = pj_production[pj_production['Crop'] == 'Arhar/Tur']
artur.head(5)

In [ ]:
alt.Chart(artur).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Arhar/Tur production in Punjab from 1997-2020')

![](arhartur.png)

There has been a massive decline in arhar/tur crop. This is also called pigeon peas and is a legume.

In [ ]:
##Barley
barley = pj_production[pj_production['Crop'] == 'Barley']
barley.head(5)

In [ ]:
alt.Chart(barley).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Barley production in Punjab from 1997-2020')

![](barley.png)

Similarly with barley.

In [ ]:
##Cotton(lint)
cotton = pj_production[pj_production['Crop'] == 'Cotton(lint)']
cotton.head(5)

In [ ]:
alt.Chart(cotton).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Cotton(lint) production in Punjab from 1997-2020')

![](cotton.png)

In [ ]:
##Gram
gram = pj_production[pj_production['Crop'] == 'Gram']
gram.head(5)

In [ ]:
alt.Chart(gram).mark_line().encode(
    x='Year',
    y=('Production')
 
).properties(
    title='Gram production in Punjab from 1997-2020')

![](gram.png)

In [ ]:
##Groundnut
gnut = pj_production[pj_production['Crop'] == 'Groundnut']
gnut.head(5)

In [ ]:
alt.Chart(gnut).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Groundnut production in Punjab from 1997-2020')

![](groundnut.png)

In [ ]:
##Guar seeds 
guar = pj_production[pj_production['Crop'] == 'Guar seed']
guar.head(5)

In [ ]:
alt.Chart(guar).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Guar seed production in Punjab from 1997-2020')

![](guar%20seed.png)

In [ ]:
##Jowar 
jowar = pj_production[pj_production['Crop'] == 'Jowar']
jowar.head(20)

In [ ]:
alt.Chart(jowar).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Jowar production in Punjab from 1997-2020')

Jowar data seems flawed. After checking, it seems like jowar was produced only from 2006-2007, and 100 tonnes each time.

In [ ]:
##Linseed
linseed = pj_production[pj_production['Crop'] == 'Linseed']
linseed.head(5)

In [ ]:
alt.Chart(linseed).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Linseed production in Punjab from 1997-2020')

![](linseed.png)

Linseed prodcuction ended in 2006.

In [ ]:
##Maize
maize = pj_production[pj_production['Crop'] == 'Maize']
maize.head(5)

In [ ]:
alt.Chart(maize).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Maize production in Punjab from 1997-2020')

![](maize.png)

In [ ]:
#Masoor
masoor = pj_production[pj_production['Crop'] == 'Masoor']
masoor.head(5)

In [ ]:
alt.Chart(masoor).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Masoor production in Punjab from 1997-2020')

![](masoor.png)

Masoor is a dal or a legume crop.

In [ ]:
moong = pj_production[pj_production['Crop'] == 'Moong(Green Gram)']
moong.head(5)

In [ ]:
alt.Chart(moong).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Moong (green gram) production in Punjab from 1997-2020')

![](moong.png)

Moong production seems to be reviving.

In [ ]:
#Moth
moth = pj_production[pj_production['Crop'] == 'Moth']
moth.head(20)

In [ ]:
alt.Chart(moth).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Moth production in Punjab from 1997-2020')

![](moth.png)

Moth was grown only from 2000-2006.

In [ ]:
#Other Rabi Pulses - rabi is the winter cropping season
rabi = pj_production[pj_production['Crop'] == 'Other Rabi pulses']
rabi.head(5)

Only 2000 year has this dataset recorded.

In [ ]:
#Peas and beans
pb = pj_production[pj_production['Crop'] == 'Peas & beans (Pulses)']
pb.head(5)

In [ ]:
alt.Chart(pb).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Peas and beans production in Punjab from 1997-2020')

![](peas%20and%20beans.png)

In [ ]:
#Rapeseed and mustard
rm = pj_production[pj_production['Crop'] == 'Rapeseed &Mustard']
rm.head(5)

In [ ]:
alt.Chart(rm).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Rapeseed & mustard production in Punjab from 1997-2020')

![](rapeseed%20and%20mustard.png)

In [ ]:
#Sesamum
ses = pj_production[pj_production['Crop'] == 'Sesamum']
ses.head(5)

In [ ]:
alt.Chart(ses).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Sesamum production in Punjab from 1997-2020')

![](sesamum.png)

In [ ]:
##Sugarcane
sugarcane = pj_production[pj_production['Crop'] == 'Sugarcane']
sugarcane.head(5)

In [ ]:
alt.Chart(sugarcane).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Sugarcane production in Punjab from 1997-2020')

![](sugarcane.png)

In [ ]:
##Sunflower
sunflower = pj_production[pj_production['Crop'] == 'Sunflower']
sunflower.head(5)

This is an incomplete dataset.

In [ ]:
alt.Chart(sunflower).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Sunflower production in Punjab from 1997-2020')

![](sunflower.png)

In [ ]:
##Urad dal
urad = pj_production[pj_production['Crop'] == 'Urad']
urad.head(5)

Certain years' data is missing from this list.

In [ ]:
alt.Chart(urad).mark_line().encode(
    x='Year',
    y=('Production')
).properties(
    title='Urad production in Punjab from 1997-2020')

![](urad.png)

In [ ]:
##other oilseeds 
oilseeds = pj_production[pj_production['Crop'] == 'other oilseeds']
oilseeds.head(5)

Incomplete data, only recorded for 2019.

## Conclusion
Between 2015-2020, we see a declining production of various crops, especially the major ones: rice and wheat. Since the trajectory of rice and wheat production fluctuates a lot, this could be a temporary slow down before it picks up and exceeds previous years'. 

#### Rice

Even though most districts in Punjab are witnessing declining production of rice, its cumulative production value has only increased with time, with a slight decline occuring from 2017 onwards. 

The increase in the cultivation of paddy over the decades has had serious environmental effects. Seen in relation with the production of other crop types, it is evident that over the years Punjab farmers shifted away from more diverse crop production to wheat/rice. News articles also suggest that increase of landholding sizes, farm mechanizations, etc, (there could be other factors, such as the fact that the government provides minimum support prices for rice and wheat) have led to a monoculture-type trend in Punjab. This began with the Green Revolution when genetically modified seeds for rice and other crops were introduced in the state. We see today how this decades long practice of cultivating paddy has contributed to the declining ground water tables (as paddy is a water intensive crop) to increase in stubble burning, which directly impacts the air quality of the northern plains (though, this is not the only contributing factor of the increasing air pollution, especially in a densely populated city like Delhi with millions of cars, dust, construction work, industrial output, etc). 
We see a sharp decline in the cultivation and production of other crops over the decades, such as: arahar/tur, barley, cotton, gram, groundnut, guar seed, linseed, maize (this one has been declining steadly but not as sharply as others), masoor, moong (saw a sharp decline, and its production has increased sharply since 2016), moth, peas & beans, rapeseed and mustard (slight decline over the past decade or so), sesamum, sugarcane (like moong, its production declined sharply and revived from 2008 onwards - it is not on a slow decline, like rice and wheat), sunflower, and urad.
There are a few unique cases, as mentioned, where the production levels declined or tanked in the noughts, and is now reviving: moong, rapeseed and mustard, sugarcane.